[Unit]
Description=MountSmolensk

[Mount]
What=/mnt/storage/iso/smolensk-1.6-20.06.2018_15.56.iso
Where=/opt/smolensk
Type=iso9660
Options=loop
After=mnt-storage.mount

[Install]
WantedBy=multi-user.target
